$primaryColor: rgb(216, 0, 0);

.events-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    padding: 20px 20px 70px 20px;
    img{
        height: 500px;
    }
    .events-content{
        text-align: left;
        max-width: 450px;
        h2{
            font-size: 32px;
            margin: 16px 0;
        }
        a{  
            button{
                &:hover{
                    transform: translateY(-5px);
                }
            }
            &:hover{
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .events-container{
        flex-direction: column-reverse;
        img{
            margin-top: 50px;
            height: 300px;
        }
    }
}